<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
	body {
		text-align: center;
		padding-top: 100px;
	}
	input {
		font-size: 25px;
		margin-top: 150px;
	}
	</style>
</head>
<body>
	<h1>
	<p align="center">
	Bienvenido a HangScrum<br>
	aqui podras poner a prueba tu conocimiento en Scrum
	</p>
	</h1>
	<form action = "/iniciarJuego" method = 'post'>
		<input type="submit" value = 'Iniciar'>
	</form>
</body>
</html>