<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>
	<p>
	Bienvenido a HangScrum 
	aqui podras poner a prueba tu conocimiento en Scrum
	</p>
	</h1>
	<form action = "/iniciarJuego" method = 'post'>
		<input type="submit" value = 'Iniciar'>
	</form>
</body>
</html>