<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
	body {
		text-align: center;
		padding-top: 100px;
	}
	input {
		font-size: 25px;
		margin: 10px;
		width: 40px;
	}
	.espacios {
		font-size: 55px;
		color: blue;
		letter-spacing: 10px;
		text-decoration: uppercase;
	}
	#letras {
		width: 33%;
		margin: 0 auto;
	}
	form {
		display: inline-block;
float: left;
	}
	</style>
</head>
<body>
	<h2 class="espacios"><%= session["palabraOculta"] %></h2>
<div id="letras">
		<%
		letras = session["letras"]
		letras.each do |text,value|
			disabled = ""
			if value.eql? "S"
				disabled = "disabled"
			end
			%>		
	<form action="/enviarLetra/<%= text %>" method="post"> 
		<input type="submit" value="<%= text %>" <%= disabled %> >
	</form>
		<%
		end
		%>
		</div>
</body>
</html>