<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
	<h2>-----</h2>
	<h2></h2>
		<%
		letras = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
		letras.each do |item|
			%>		
		<input type="submit" value="<%= item %>">
		<%
		end
		%>
	<div>
</body>
</html>